/target/
/.settings/
/.project
/.classpath
/bin/
/sootOutput
/.java-version

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store


*~
.idea/
resources/file-level/_repos
resources/file-level/jacoco-files
_downloads
resources/file-level/_split_logs
resources/file-level/_validate_logs/

resources/file-level/results/main.log
resources/file-level/results/main.pdf
resources/file-level/LANG-883-repo/

*.pyc
resources/file-level-old/
resources/file-level/temp/

resources/file-level/temp-logs/
resources/file-level/temp-configs/
resources/file-level/temp-files/

resources/file-level/_test_classes_backup/
resources/file-level/touchset

resources/scripts/compute_cslicer_definer_time.py